{
  "presets": [
    "module:react-native-dotenv",
    "module:metro-react-native-babel-preset",
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy" : true }],
    [
      "module-resolver", {
        "cwd": "babelrc",
        "root": ["./app"],
        "alias": {
          "app": "./app",
          "utils": "./app/utils",
          "components": "./app/components",
          "screens": "./app/screens",
          "config": "./app/config",
          "kernel": "./app/kernel",
          "store": "./app/store",
          "assets": "./app/assets",
          "images": "./app/assets/images",
        }
      }
    ]
  ]
}
